.favorite {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--color-text); 
    font-family: 'Montserrat', sans-serif;
  }

  .list {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    background-color: var(--color-background);
  }
} 