@import '../../styles/variables';
.card {
  position: relative;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--color-card-bg);
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px var(--color-shadow);
  }

  .link {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
  }

  .imageWrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: var(--color-background); 

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      transition: transform 0.3s ease;
      border-color: var(--color-border);
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .titleContainer {
    padding: 1rem;
    background: var(--color-card-bg);
    border-top: 1px solid var(--color-border);
    color: var(--color-text);
    min-height: 80px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title {
    margin: 0;
    font-size: 1rem;
    text-align: center;
    word-break: break-word; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .favoriteButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--color-card-bg);
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--color-primary);
    z-index: 1;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    &:hover {
      background: white;
      transform: scale(1.1);
    }
  }
  &:hover .favoriteButton {
    opacity: 1;
    visibility: visible;
  }

  // Добавляем класс для отображения кнопки на мобильных устройствах
  &.show-favorite-button .favoriteButton {
    opacity: 1;
    visibility: visible;
  }
}
