@import './styles/variables';
.appContainer {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  margin-bottom: 0px;
  background-color: var(--color-background);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.mainContent {
  flex: 1;
  padding: 0 1rem;
  background-color: var(--color-background);
  box-sizing: border-box;
}